body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.main-part {
  height: 100vh;
}

.search-bar {
  padding-top: 18vh;
}

.search-bar h1 {
  margin: auto;
}

.search-form {
  margin: 5vh auto 0 auto;
}

.search-input input {
  border-radius: 5px;
  max-width: 600px;
  min-width: 23vw;
  margin-right: 1.4vw;
}

.search-btn {
  margin-top: 2vh;
}

.book-table {
  margin-top: 3vw;
  display: none;
}
