<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "story/css/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story 9</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static "story/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "story/js/popper.min.js" %}"></script>
    <script src="{% static "story/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="main-part">

        <!-- Main Search Bar -->
        <div class="search-bar">
          <div class="row">
            <h1>Search Books</h1>
          </div>
          <div class="row search-form text-center">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="row search-input">
                <input class="form-control form-control-sm m-auto" id="search" type="text" placeholder="Search" aria-label="Search">
              </div>
              <div class="row search-btn">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-auto mr-2" id="search-submit" type="submit">Search</button>
                <button class="btn btn-outline-primary my-2 my-sm-0 mr-auto ml-2" id="most-liked" type="button" data-toggle="modal" data-target="#bookModal">Most Liked</button>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <!-- Table of Books -->
        <div class="book-table" id="bookTable">
          <h2>Listed Books</h2>
          <br>
          <table class="table table-bordered" id="bookList">
            <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Likes</th>
              </tr>
            </thead>
            <tbody id="books">
            </tbody>
          </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="bookModalLabel">5 Most Liked Books</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script src="{% static "story/js/story-script.js" %}"></script>
  </body>
</html>
