html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.main-part {
  height: 100vh;
}

/* Search bar */

.search-bar {
  padding-top: 15vh;
}

.search-bar h1 {
  margin: auto;
}

.search-form {
  margin: 5vh auto 0 auto;
}

.search-input input {
  border-radius: 5px;
  max-width: 600px;
  min-width: 23vw;
  margin-right: 1.4vw;
}

.search-btn {
  margin-top: 2vh;
}

/* Book table */

.book-table {
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: none;
}

.btn-like {
  margin-left: 1rem;
  margin-right: 2rem;
}
